@media (max-width: 1200px)
    .container
        width: 100%
        padding: 0
    .menu
        padding: 0
        &__list
            padding-left: 15px
    .promo
        &__title
            font-size: 50px
        &__subtitle
            font-size: 28px
    .advantages
        &__item
            width: 480px
    .delivery
        &__cards
            flex-wrap: wrap
    .info
        &__list
            flex-wrap: wrap
        &__item
            &:nth-child(3)
                padding-top: 40px
@media (max-width: 991px)
    header
        .menu
            &__list
                flex-wrap: wrap
                margin: 40px auto
                padding-left: 0
                width: 340px
            &__item
                margin-top: 15px
            &__questions
                &-phone
                    font-size: 15px
        .promo
            &__title
                font-size: 50px
            &__subtitle
                font-size: 28px
            &__delimiter
                padding-top: 20px
                width: 95%
            &__list
                padding-top: 20px
    .advantages
        &__item
            width: 100%
        &__text
            padding-right: 0
    .info
        &__item
            width: 340px
            margin-right: 10px
            &-img
                img
                    width: 100%
    .carousel
        .prev
            left: 37%
        .next
            right: 37%
    .question
        &__wrapper
            width: 100%
        &__form
            &-input
                width: 210px
    .footer
        &__descr
            padding: 20px 0 0 20px
            width: 40%
        &__questions
            padding: 20px 0 0 40px
            &-phone
                font-size: 16px
        &__under
            justify-content: space-between
        &__privacy
            padding-left: 0
        &__website
            padding-left: 0
@media (max-width: 767px)
    header
        .menu
            flex-wrap: wrap
            padding-bottom: 20px
            &__list 
                margin: 25px auto
            &__questions
                padding-top: 0
                padding-left: 25%
            .call_btn
                margin-top: 0
        .promo 
            &__info
                font-size: 20px
            &__title
                padding-top: 15px
                font-size: 35px
            &__subtitle
                font-size: 25px
            &__list
                padding-top: 10px
            &__item
                font-size: 14px 
            &__icon
                height: 50px
                width: 50px
            .btn-promo
                height: 50px
                width: 220px
    .info
        &__item
            padding-bottom: 40px
            &:last-child    
                padding-top: 0
    .delivery
        &__card
            margin-right: 5px
        &__form
            &-icon
                top: 120px
                &_left
                    top: 182px
                    width: 38%
                &_right
                    top: 182px
                    width: 38%
            &-input
                margin-top: 0
                padding-left: 15px
                width: 32%
                &:last-child
                    margin: 0
            &-btn
                &_right
                    top: 345px
                    width: 33%
                &_left
                    top: 345px
                    width: 33%
    .review
        .prev
            left: 32%
        .next
            right: 32%